
<nav class="bg-primary  p-4   "  >
    <header class="text-center">CreditWallet</header>
    <ul>
        <li class="flex justify-between mt-24 text-xxs  sm:text-base">
            <img src="./../../../assets/sidenav-Images/dashboard 1.svg" alt="dashboard" color="#ffffff">
            <p>Dashboard</p>
        </li>
        <li class="flex justify-between mt-9 text-xxs  sm:text-base">
            <img src="./../../../assets/sidenav-Images/loan 1.svg">
            <p>Loans</p>
        </li>
        <li class="flex justify-between mt-9 text-xxs  sm:text-base">
            <img src="./../../../assets/sidenav-Images/Recovery.svg">
            <p>Recovery</p>
        </li>
        <li class="flex justify-between mt-9 text-xxs  sm:text-base">
            <img src="./../../../assets/sidenav-Images/verification.svg">
            <p>Verification</p>
        </li>
        <li class="flex justify-between mt-9 text-xxs  sm:text-base">
            <img src="./../../../assets/sidenav-Images/reports 1.svg">
            <p>Reports</p>
        </li>
        <li class="flex justify-between mt-9 text-xxs  sm:text-base">
            <img src="./../../../assets/sidenav-Images/deduction.svg">
            <p>Deductions</p>
        </li>
        <li class="flex justify-between mt-9 text-xxs  sm:text-base">
            <img src="./../../../assets/sidenav-Images/profit 1.svg">
            <p>Return Business</p>
        </li>
        <li class="flex justify-between mt-9 text-xxs  sm:text-base">
            <img src="./../../../assets/sidenav-Images/disk 1.svg">
            <p>Loandisk Operation</p>
        </li>
        <li class="flex justify-between mt-9 text-xxs  sm:text-base">
            <img src="./../../../assets/sidenav-Images/utilities.svg">
            <p>Utilities</p>
        </li>
        <li class="flex justify-between mt-9 text-xxs  sm:text-base">
            <img src="./../../../assets/sidenav-Images/people 1.svg">
            <p>User Management</p>
        </li>
        
    </ul>
</nav>
